

.inter-font-parent {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    padding: 0px;
    margin: 0px;
}

/* all background images and color styling section */
.nav-container {
    background-color: rgba(26, 11, 46, 1);
}

.hero-banner-container {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 760px;

}

.about-section {
    background-color: rgba(26, 11, 46, 1);
}

.why-choose-tw-section {
    background-color: rgba(35, 14, 61, 1);
}

.feature-section {
    background-color: rgba(26, 11, 46, 1); 
}

.host-section {
    background-color: rgba(26, 11, 46, 1);

}

.foot-section {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 412px;

}

/* navbar-styling */
.nav-brand-name{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.nav-container{
    min-height: 92px;
    align-items: center;
    justify-content: space-around;
}
.menu-container li {
    list-style: none;
    
}

.menu-item{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 32px;
}

.menu-container a {
    text-decoration: none;
}

.gradient-btn{
    background-image:
    /* linear-gradient(22deg, #d71313, #fac04d), */
    linear-gradient(20deg, #fbd932, #f556a3, #f946db, hsl(287, 84%, 60%), #ab28f7);
    padding: 12px 16px;
    border-style: none;
    border-radius: 1000px;
    min-width: 135px;
    box-shadow: 0px 4px 4px 0px #000000;
}

.gradient-btn a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/* hero banner styling */
.hero-banner-container {
    padding-top: 101px;
    padding-left: 785px; 
    justify-items: center;  
    align-items: center; 
}

.banner-image{
    max-width: 350px;
    margin-right: 785px;
    margin-left: 0px;
    
}

.mic-background{
    margin-bottom: -160px;
    /* margin: 0 auto; */
}

.badge-btn{
    background-color: #00FF88;
    border-style: none;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    position: relative;
    top: -350px;
    left: -270px;
    box-shadow: 0px 3px 27px 0px #00ff887b;
}

.mic-image{
    position:relative;
    top: -100px;
    left: 115px;
    /* top: -100px;
    left: -250px; */
}

.banner-info{
    text-align: center;
    margin-left: -785px;
}

.banner-info .banner-title {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-description{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
    
}

.subscribe-btn{
    background-color: #1A0B2E;
    padding: 12px 20px; 
    border: 1px solid#00FF88;
    border-radius: 1000px;
    background-color: none;
    margin-left: 8px;
}

.subscribe-btn a{
    color:#00FF88;
    text-decoration: none;
    
}

/* shared-style-main*/

/* sub-navbar-styling */
.nav-container,
.menu-container{
    display: flex;
}