

.inter-font-parent {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    padding: 0px;
    margin: 0px;
}

/* all background images and color styling section */
.nav-container {
    background-color: rgba(26, 11, 46, 1);
}

.hero-banner-container {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%vw;
    max-width: 1600px;
    background-position: center;
    background-size: cover;
    min-height: 760px;

}

.about-section {
    background-color: rgba(26, 11, 46, 1);
}

.why-choose-tw-section {
    background-color: #230E3D;
}

.feature-section {
    background-color: rgba(26, 11, 46, 1); 
}

.host-section {
    background-color: rgba(26, 11, 46, 1);

}

.foot-section {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 412px;
}

/* shared-style-main*/

/* sub-navbar-styling */
.nav-container,
.menu-container{
    display: flex;
}

.nav-brand-name,
.about-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.gradient-btn{
    background-image:
    linear-gradient(20deg, #fbd932, #f556a3, #f946db, hsl(287, 84%, 60%), #ab28f7);
    padding: 12px 16px;
    border-style: none;
    border-radius: 1000px;
    min-width: 135px;
    box-shadow: 0px 4px 4px 0px #000000;
}

#nav-banner{
    max-height: 852px;

}

/* navbar-styling */
.nav-container{
    min-height: 92px;
    align-items: center;
    justify-content: space-around;
}

.nav-brand-name{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.menu-container li {
    list-style: none; 
}

.menu-item{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 32px;
}

.menu-container a {
    text-decoration: none;
}



.gradient-btn a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

/* hero banner styling */
.hero-banner-container {
    padding-top: 101px;
    padding-left: 785px; 
    justify-items: center;  
    align-items: center; 
}

.banner-image{
    max-width: 350px;
    margin-right: 785px;   
}

.mic-background{
    margin-bottom: -160px;
}

.badge-btn{
    background-color: #00FF88;
    border-style: none;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    position: relative;
    top: -350px;
    left: -270px;
    box-shadow: 0px 3px 27px 0px #00ff887b;
}

.mic-image{
    position:relative;
    top: -100px;
    left: 115px;
}

.banner-info{
    text-align: center;
    margin-left: -785px;
}

.banner-info .banner-title {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-description{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;    
}

.subscribe-btn{
    background-color: #1A0B2E;
    padding: 12px 20px; 
    border: 1px solid#00FF88;
    border-radius: 1000px;
    background-color: none;
    margin-left: 8px;
}

.subscribe-btn a{
    color:#00FF88;
    text-decoration: none;    
}

/* about section styling */
.about-section{
    max-height: 646px;
    padding: 50px 200px 120px 200px;                                    
}

.about-info{
    align-items: center;
    margin-bottom: 160px;
}

.about-title{
    text-align: center;
    margin-bottom: 40px;    
}

.about-description{
    color:#FFFFFF;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
}

/* .line{
    
} */
 

.staticstics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.stat-card{
    gap: 80px;
    text-align: center;
}

.stat-number{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.stat-name{
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

/* why choose tech wave styling section */


.why-choose-tw-section{
    padding: 120px 200px;
    justify-items: center;
}

.why-choose-container{
    max-width: 1200px;
    gap: 30px;
    
}

.why-choose-container>*{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);       
    box-shadow: 2px 4px 5px 0px #000000;
    text-align: start;
}

.why-box1{
    padding-top: 100px;
    
    grid-area: premium-audio;
}

.why-box2{
    grid-area: mobile-friendly;
}

.why-box3{
    grid-area: g-community;
}

.why-box4{
    grid-area: e-interviews;
}

.why-box5{
    grid-area: rich-resources;
}

.why-choose-container{
    display: grid;
    grid-template-areas: 
    "premium-audio mobile-friendly mobile-friendly"
    "premium-audio g-community     g-community"
    "e-interviews  e-interviews    rich-resources";
}

.why-title{
    margin: 16px 0px;
     color:#FFFFFF;
     font-size: 1.5rem;
     font-weight: 700;
}

.why-description{
     color:#FFFFFF;
     font-size: 1rem;
     font-weight: 400;
     line-height: 24px;
}

/* featured episodes styling section */


.feature-section{
    justify-items: center;
    padding: 120px 200px;
}

.feature-title{
    color:#FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.feature-card{
    background-color: #250D44;
    border-radius: 20px;
    box-shadow: 0px 1px 10px px #000000;
    min-height: 440px;
    max-width: 380px;
    

}

iframe{
    border: none;
    border-radius: 20px 20px 0px 0px;
}


.card-title{
    color:#FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 24px;

}

.card-description{
    color:#FFFFFF;
    font-size: 1rem;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.duration{
    margin-left: 24px;
}

.card-icon{
    margin-right: 6px;
}

.time-text{
    color: #00FF88;
}
/* meet the host styling section */

/* footer section */