

.inter-font-parent {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    padding: 0px;
    margin: 0px;
}

/* all background images and color styling section */
.nav-container {
    background-color: rgba(26, 11, 46, 1);
}

.hero-banner-container {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
}

.about-section {
    background-color: rgba(26, 11, 46, 1);
}

.why-choose-tw-section {
    background-color: #230E3D;
}

.feature-section {
    background-color: rgba(26, 11, 46, 1); 
}

.host-section {
    background-color: rgba(26, 11, 46, 1);

}

.foot-section {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 412px;
}

/* shared-style-main*/

/* sub-navbar-styling */
.nav-container,
.menu-container,
.host-container,
.host-icon,
.icon-container,
.icon-flex {
    display: flex;
}

.nav-brand-name,
.about-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}


#nav-banner{
    max-height: 852px;

}

/* navbar-styling */
.nav-container{
    /* display: none; */
    min-height: 92px;
    align-items: center;
    justify-content: space-around;
}

.nav-brand-name{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.menu-container li {
    list-style: none; 
}

.menu-item{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 32px;
}

.menu-container a {
    text-decoration: none;
}

.gradient-btn-nav{
    background-image:
    linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-style: none;
    border-radius: 1000px;
    min-width: 135px;
    box-shadow: 0px 4px 4px 0px #0000006c;
}

.gradient-btn-nav a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.humburger-container #3-line {
    display: none;

}

/* hero banner styling */
.hero-banner-container {
    padding-top: 160px;
    padding-left: 785px; 
    justify-items: center;  
    align-items: center; 
}

.banner-image{
    position:relative;
    max-width: 350px;
    margin-right: 785px;   
}

.mic-image{
    position:absolute;
    top: 25%;
    left: 115px;
}

.badge-btn{
    position:absolute;
    background-color: #00FF88;
    border-style: none;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    top: 8%;
    left: 75%;
    box-shadow: 0px 3px 27px 0px #00ff887b;
}

.banner-info{
    text-align: center;
    margin-left: -785px;
    margin-top: 40px; 
}

.banner-info .banner-title {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-description{
    color: #ffffff94;
    font-size: 1rem;
    margin-bottom: 24px;    
}

.gradient-btn-banner{
    background-image:
    linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-style: none;
    border-radius: 1000px;
    min-width: 135px;
    box-shadow: 0px 4px 4px 0px #00000059;
}

.gradient-btn-banner a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.subscribe-btn{
    background-color: #1A0B2E;
    padding: 12px 20px; 
    border: 1px solid#00FF88;
    border-radius: 1000px;
    background-color: none;
    margin-left: 8px;
}

.subscribe-btn a{
    color:#00FF88;
    text-decoration: none;    
}

/* about section styling */
.about-section{
    max-height: 646px;
    padding: 50px 200px 120px 200px;                                    
}

.about-info{
    align-items: center;
    margin-bottom: 160px;
}

.about-title{
    text-align: center;
    margin-bottom: 40px;    
}

.about-description{
    color:#ffffff94;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
}

/* .line{
    
} */
 

/* .staticstics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
} */

.stat-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    text-align: center;
}

.stat-number{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.stat-name{
    color:#FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

/* why choose tech wave styling section */


.why-choose-tw-section{
    padding: 120px 200px;
    justify-items: center;
}

.why-choose-container{
    max-width: 1200px;
    gap: 30px;
    
}

.why-choose-container>*{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);       
    box-shadow: 0px 4px 4px 0px #00000054;
    text-align: start;
}

.why-box1{
    padding-top: 100px;
    
    grid-area: premium-audio;
}

.why-box2{
    grid-area: mobile-friendly;
}

.why-box3{
    grid-area: g-community;
}

.why-box4{
    grid-area: e-interviews;
}

.why-box5{
    grid-area: rich-resources;
}

.why-choose-container{
    display: grid;
    grid-template-areas: 
    "premium-audio mobile-friendly mobile-friendly"
    "premium-audio g-community     g-community"
    "e-interviews  e-interviews    rich-resources";
}

.why-title{
    margin: 16px 0px;
     color:#FFFFFF;
     font-size: 1.5rem;
     font-weight: 700;
}

.why-description{
     color:#ffffff91;
     font-size: 1rem;
     font-weight: 400;
     line-height: 24px;
}

/* featured episodes styling section */


.feature-section{
    justify-items: center;
    padding: 120px 200px;
}

.feature-title{
    color:#FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.feature-card{
    background-color: #250D44;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px #00000044;
    min-height: 440px;
    max-width: 380px;
    

}

iframe{
    border: none;
    border-radius: 24px 24px 0px 0px;
}

.info-container{
    padding: 24px;
}


.card-title{
    color:#FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-description{
    color:#ffffff94;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-icon{
    margin-right: 6px;
}

.time-text{
    color: #00FF88;
}


/* meet the host styling section */



.host-section{
    padding-bottom: 120px;
    justify-items: center;

}

.host-title{
    color:#FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;

}

.host-container{
    background-color:#35116579;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000052;
}

.host-details{
    max-width: 896px;
    margin-left: 24px;
}
.host-name{
    color:#FFFFFF;
    font-size: 2rem;
    font-weight: 700;

}

.host-description{
    color:#ffffff8c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.host-icon{
    flex-direction: row;
    gap: 8px;

}

.host-icon .host-social-icon{
    border: 1px solid #533C72;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
/* footer section */


.foot-container{
    position: relative;
   text-align: center;
   margin: 0px auto;
}

.foot-title{
     color:#FFFFFF;
     font-size: 5rem;
     font-weight: 800;
     padding-top: 85px;

}

.gardient-title{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.icon-container{
    position: absolute;
   top: 220px;
   left: 36%;
   margin: 0px auto;
}

.icon-card{
   margin-right: 40px;
}

.icon-name{
    color: #ffffff8a;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 8px;
}

.icon-name a{
    color: #ffffff85;
    text-decoration: none;
}

.copyright-text{
   color: #ffffff86;
   font-size: 1rem;
   font-weight: 400;
}

.copyright-text{
    position: absolute;
    left: 780px; 
    top: 300px;
    margin: 0px auto;
}



/* responsive design for mobile screen */

@media screen and (max-width: 576px){
    
/* navbar-responsive */
.nav-container,
.menu-container,
.host-container,
.host-icon,
.icon-container,
.icon-flex {
    display: flex;
}

.nav-container{
    min-height: 60px;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-brand-name{
    font-size: 1.8rem;
}

.menu-item{
    display:none;
}

.gradient-btn-nav{
    display: none;
}

/* humberger icon */


/* banner-responsive */
.hero-banner-container {
    width: 440px;
    height: 466px;
    background-size: 440px 466px;
    background-position: center;
    position: relative; 
    padding:0px 0px; 
}

.banner-image{
    position:absolute;
    max-width: 200px;
    left: 110px;
    top: 40px;
}

.mic-background{
    max-width: 200px;
    max-height: 200px;
}

.mic-image{
    max-width: 47px;
    min-height: 70px;
    top: 65px;
    left: 80px;
}

.badge-btn{
    font-size: 16px;
    font-weight: 600;
    top: 1.5%;
    left: 65%;
}

.banner-info{
    position: absolute;
    left: 20px;
    top: 200px;
    text-align: center;
    margin-left: 0px;
    margin-top: 60px;
}

.banner-info .banner-title {
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.banner-description{
    margin-bottom: 24px;
    max-width: 380px;    
}

.gradient-btn-banner{
    padding: 12px 20px;
    min-width: 135px;
}

.subscribe-btn{
    padding: 12px 20px; 
    margin-left: 8px;
    min-width: 140px;
}

/* about section responsive */
.about-info{
    justify-items: center;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin: 40px auto;
}
.about-title{
    font-size: 2rem;
    margin-bottom: 16px;    
    min-width: 400px;
    
}

.about-description{
    line-height: 20px;
    text-align: center;
    min-width: 400px;

}

/* .staticstics-container{
    
    
    
    
} */

.stat-card{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    
    /* justify-content:end; */
}

.cards{
    min-width: 180px;

}

.stat-number{
    /* color: #00FF88; */
    font-size: 2.5rem;
    font-weight: 900;
    /* margin-bottom: 16px; */
}

/* .stat-name{
    
} */


/* why choose section responsive  */
.why-choose-tw-section{
    padding: 40px 20px;
    justify-items: center;
}

.why-choose-container{
    max-width: 400px;
    gap: 16px;
}

.why-choose-container>*{
    padding: 24px;
    border-radius: 24px;
}

.why-box1{
    grid-area: premium-audio;
}

.why-box2{
    grid-area: mobile-friendly;
}

.why-box3{
    grid-area: g-community;
}

.why-box4{
    grid-area: e-interviews;
}

.why-box5{
    grid-area: rich-resources;
}

.why-choose-container{
    display: grid;
    grid-template-areas:
    "premium-audio" 
    "mobile-friendly" 
    "g-community" 
    "e-interviews" 
    "rich-resources";
}

.why-title{
     font-size: 22px;
     font-weight: 700;
}

.why-description{
     color:#ffffff8a;
}

/* featured episodes section responsive */
.feature-section{
    /* justify-items: center; */
    padding: 40px 40px;
    /* justify-items: center; */
}

.feature-title{
    color:#FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0px;
    
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
}

.feature-card{
    box-shadow: 0px 4px 4px 0px #0000001f;
}
.info-container{
    padding: 24px;
}


.card-title{
    color:#FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-description{
    color:#ffffff91;
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-icon{
    margin-right: 6px;
}

.time-text{
    color: #00FF88;
}


}